.video__container {
    height: 100vh;
    background-color: #7babff;
    padding: 0 15px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

.start__component {
    position: relative;
    background-color: #ff7961;

}

.start__container {
    position: absolute;
    right: 50%;
    top: 45%;
    color: #000000;

    h4 {

        color: #ffc54d;

    }

    text-align: center;
    padding: 0 100px;

    button {
        margin: 15px 0;
        background-color: #c74936;
        color: #000000;
        padding: 14px 72px;
        font-weight: bold;
        border-radius: 16px;
    }

    transform: translate(50%, -50%);
}

.image__container {
    background-color: #7babff;
    box-shadow: 6px 10px 6px #999999;
}

.image__component {
    height: 100vh;

    // width: 100%;
    img {
        width: 100%;
        height: 70%;
        object-fit: contain;
        // display: block;
        margin: 80px 0;

        // top: 100px;
        // bottom: 0;

    }
}

.option__container {
    margin: 0 100px;

    .option__btn {
        &:hover {
            box-shadow: 10px 5px 5px #999999;
        }

        &:focus {
            background-color: #f7f7f7;
        }

        border-radius: 8px;
        border: solid 1px #cccccc;
        align-items: center;
        color: #000000;
        font-weight: 500;
        text-align: left !important;
        margin: 0 auto;
        text-align: center;
        padding: 12px 30px;
        width: 90%;

        .btn__img {
            img {
                border-radius: 8px;
                width: 60px;
                height: 60px;
            }
        }

    }
}

.options__container {
    .MuiBox-root {
        margin-left: 4px;
    }

    .MuiAppBar-colorPrimary {
        background-color: #ffffff;
    }

    .MuiAppBar-root {
        padding: 12px 0;
        // border-radius: 8px;
    }
}

.option__items {
    padding-top: 50px;

}

.navigate__components {
    margin-top: 20px;
    padding: 0 50px;

    .next__btn {
        background-color: #ffffff;
        color: #000000;
        border: unset;
        padding: 10px 34px;
        box-shadow: 4px 2px 2px #999999;
        font-weight: 600;
    }

    .back__btn {
        background-color: #ffffff;
        font-weight: 600;
        color: #000000;
        padding: 10px 34px;
        border: unset;
        box-shadow: 4px 2px 2px #999999;
    }
}

.location__tittle__bar {
    position: absolute;
    z-index: 1000;
    // width: 100%;
}

.search {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
    width: 400px;

    .locate__icon {
        font-size: 25px;
        border: none;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        background-color: #ffffff;
        padding-left: 10px;
    }

    .search__container {
        width: 100%;
        background-color: #ffffff;
        border-radius: 16px;

    }

    .search__input {
        &:focus-visible {
            outline: none;
        }

        display: block;
        margin: 0 auto;
        margin: 0 auto;
        width: 380px;
        padding: 10px 4px;
        border-radius: 16px;
        border: none;
    }
   
}
.result__list{
    list-style: none;
    background-color: #ffffff;
    padding: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
 .result{
    // border: solid 1px #000000;
    padding: 4px 8px;
   
 }
}

.button__container{
    width: 100px;
    .legit__btn{
        background-color: #ffffff;
        color: #000000;
        border: unset;
        padding: 10px 34px;
        box-shadow: 4px 2px 2px #999999;
        font-weight: 600;
    }
    
}

.content__container{
    margin: 100px 120px;
    .content__note{
        font-size:16px;
        line-height: 20px;
        font-weight: 400;
         color: rgb(113, 113, 113);
    }
    .textarea{
        // border: #000000 1px solid;
        box-shadow:  0 0 0 1px grey !important;
        border-radius: 8px;
       
        textarea{
            width: 100%;
            outline: none !important;
            border: none !important;
            color: #222222;
            display: block;
            margin: 0 !important;
            box-sizing: border-box !important;
            border-radius: 8px;
            height: 144px;
            font-size: 32px;
            font-weight: 600;
            line-height: 38px;
            padding: 24px !important;
        }
    }
}

.price__container{
    margin: 0 200px;
    border-radius: 8px;
    border: 1px solid black;
    .input__price{
        width: 100%;
        border: none;
        border-radius: 16px;
        font-weight: 600;
        line-height: 80px;
        text-align: center;
        outline: none;
        height: 80px;
        font-size: 48px;
    }
}
.price__wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
    .price__label{
        font-size: 16px;
        line-height: 20px;
        color: #222222;
    }
    .price__note{
        margin: 0 120px;
        font-size: 22px;
        text-align: center;
    }    
}

.message__wrapper{
    position: relative;
    width: 100%;
    height: 400px;
    .message__container{
        // margin: 0 100px;
        // max-width: 480px;
        position: absolute;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;    
        top:40%;
        // transform: translate(0, 50%);
    }
}
.upload__container{
    position: relative;
    height: 400px;
    .upload__wrapper{
        margin: 0 100px;
        position: absolute;
        max-width: 400px;
        top: 20%;
        transform: translateX(25%);
        .upload__content{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // justify-items: start;
            padding-top: 50px;
            width: 100%;
            height: 300px;
            // position: absolute;
            border: 1px dashed rgb(176, 176, 176);
            .upload__svg,.upload__component{
                margin: 0 auto;
                h5{
                    
                    font-weight: 700;
                }
                .upload__button{
                    background-color: #ffffff !important;
                    box-shadow: 4px 2px 2px #999999;
                    color: #000000;
                    font-weight: 600;
                    font-family: 'Inter';
                    padding: 10px 34px;
                }
            }
        }

    }

}

