.edr-main-page {
    padding: 50px;
    
    // height: 100vh;
    background-color: #F6FBF9;
    .edit {
        // width: 100% !important;
        // height: 100vh;
    }

    .edr-left {
      
        padding: 20px;
        margin-top: 50px;
        background-image: url("../EditRoomPage/_edit_room_page_bg.png");
        background-repeat: no-repeat;
        
        // background-position: left bottom;
        background-size: 85%;
    }

    .edr-right {
         margin-top: 50px;
        // min-height: 320px;
        // max-height: 825px;
        // min-width: 380px;
        // width: 35%;
        padding: 40px 20px;
        background-color: #FFFFFF;
        border-radius: 16px;
        align-items: center;
       
        margin-right: 2rem;
       
        .edr-header {
            font-size: 3.0rem;
            margin-left: auto;
            line-height: 33px;
            font-family: "open sans", sans-serif;
           
            font-weight: bold;
        }

        .edr-right-input {
            font-size: 1.5rem;
            align-items: center;
            padding: 10px 0;

            input {
                background: #FFFFFF;
                border: 1.53407px solid rgba(0, 0, 0, 0.1);
                border-radius: 12px;
            }

            .edit-input-room-status select {
                background: #FFFFFF;
                border: 1.53407px solid rgba(0, 0, 0, 0.1);
                border-radius: 12px;
            }

            .edit-input-room-type select {
                background: #FFFFFF;
                border: 1.53407px solid rgba(0, 0, 0, 0.1);
                border-radius: 12px;
                justify-content: space-between;
            }
        }

        .edit-btn {
            min-width: 18vw;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-around;
            size: 60%;

            text {
                font-size: 1.4rem;
            }

            .css-i4bv87-MuiSvgIcon-root {
                font-size: 0.8rem;
            }

            .next-btn {
                width:fit-content;
                border: none;
                border-radius: 10px;
                background-color: #F94C66;
                color: white;
                padding: 10px 26px;
                font-size: 1.4rem;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .error-msg {
            color: red;
            text-align: center;
        }
    }
}