.tools__bar{
    justify-content: space-between;
  
    color: black;
    .d-flex{
        padding: 5px 0;
        
    }

    .search__container{
        .input__search__icon{
            padding: 5px ;
            font-size: 20px;
            
        }
        .input_group{
            input{
                background: transparent;
                border: 0px;
                height: 100%;
                &:focus-visible{
                    outline: none !important;
                }
                
            }
        }
    }
    .date__picker__component{
        
        i{
            padding: 5px 0;
            font-size: 20px;
        }
       .date__picker__label{
        padding: 5px 6px;
        font-size: 16px;
        
       }
    }
    .guest__number{
        width: 200px;
   
     
        i{
            padding: 5px 0;
            font-size: 20px;
        }
        input{
            margin-left: 8px;
            border: 0;
            height: 100%;
            width: 190px;
            font-size: 16px;
            padding: 5px 0 10px;
            background: transparent;
            // text-align: center;
            color: black;
            &:focus-visible{
                outline: none !important;
            }
        
            
        }
    }
    .tool__bar__btn{
        width: 100px !important;
        height: 22px;
        line-height: 22px;
        // font-size: 16px;
        box-sizing: content-box;
      
        margin: 5px 0;
        background-color: #f94c66;
    }

}
.header__container{
    // background-image:url("./hcmc.png");
    background:linear-gradient(0deg, rgba(12, 12, 12, 0.795), rgba(213, 200, 208, 0.3)), url("./hcmc.png");
    width: 100%;
    height: 600px;
    background-size: fill;
    // border-radius: 30px;
    padding-top: 60px;
    // object-fit: cover;
      border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
    // background-repeat: no-repeat;
    position: relative;
}
.header__slogan{
    text-align: center;
    color: white;
    text-shadow: 2px 1px 1px ;
    font-style: italic;
    position: absolute;
    top: 45%;
    // font-size: 36px;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 1;
    // align-items: center;

}
.attractive{
    padding-top: 10px;
    .attractive__header{
        color: #f94c66;
        h3{
            font-weight: 700;
        }
       
    }
    
    .modal__container{
       
        // background-repeat:no-repeat;
        &:hover{
            box-shadow: 4px 4px 14px 5px #2a2626;
            transition:  0.2s;
        }
        transition: 0.2s;
       
        border-radius: 16px;
        .attractive__name{
           
            color: white;
            font-weight: 700;
            text-shadow: 3px 3px #494747;
        }
    }
    .modal__container__up{
        width: 550px;
        background-size: cover !important; 
        
        height: 268px;
        // background: url("../../../assets/danang.png") no-repeat center center;
    }
    .modal__container_down{
        width: 366px;
        height: 260px;
        // background: url("../../../assets/danang.png") no-repeat center center;

    }
    
}
.item__container{
    width: 100%;
    padding: 0 10px;
    .item__img{
        width: 100%;
        height: 310px;
        border-radius: 16px;
    }
    .item__content{
        padding-top: 10px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        h6{
          
            margin-bottom: 2px;
        }
        .property__location{
            color: #717171;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 0;
            
        }
    }
}
.nav__item{
    color: #53bf9d;
  &:hover{
    color: #53bf9d;
  }
  .btn__nav{
    background: unset;
    border: unset;
    text-align: center;
    padding: 4px 0px 14px;
    margin: 12px 0 0;
  }
}
