.add-room-page-main{

    height: 100%;
    // width: 100vw;
    background-color: #F6FBF9;
    font-family: 'open sans', sans-serif;
    padding: 50px;
    .ar-left{
        // height: 100vh;
        // flex: 3;
        border-radius: 10px;
        padding: 20px;
        background-image: url("../AddRoomPage/add_room_page.png");
        
        background-repeat: no-repeat;
        background-position: left;
        background-attachment: fixed;
        background-size: 60%;
    }

    .ar-right{
       background-color: #ffffff;
       border-radius: 10px;
        margin-top: 50px;
       padding: 40px;
        // text-align: center;
       

        .ar-right-empty-box{
            content: "";
            margin: 2em;
            display: block;
            font-size: 24%;
        }

        .ar-header{
            margin-top: 0.27em;
            margin-bottom: 0.27em;
          
         
          
            padding: 1rem 0;
            font-weight: bold;
            font-size: 3.0rem;
        }

        .header[type=text]{
            font-weight: bold;
            font-size: 3.0rem;

        }

        .ar-right-add-column{
            min-height: 260px;
            min-width: 300px;
            display: flex;
            margin-top: 1rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5rem;
            
        }

        .add-bedroom{
            flex-direction: row;
        }

        .add-price{
            width: 100%;
            
        }

        // .add-price-header{
        //     text-align: center;
        // }

        .input-room-select {
            background: #FFFFFF;
            border: 1.5px solid rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            // height: 30px;
            // width: 120px;
            justify-content: space-between;
            // margin-left: 2rem;
        }

        .btn-row{
            max-width: 45vw;
            min-width: 35vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;       
        }

        .next-btn{
            border: none;
            border-radius: 16px;
            background-color: #F94C66;
            color: white;
            padding: 14px 32px;
            margin-top: 0.47em;

            //?
            margin-right: 5em;

            margin-bottom: 0.47em;
            font-size: 1.4rem;
            font-weight: bold;
            cursor: pointer;
        }

        .price-input[type=number] {
            border-color: rgb(0, 0, 0, .1);
            min-width: 40px;
            max-width: 145px;
            // padding: 5px 5px;
            // margin-top: 0.67em;
            // margin-bottom: 0.27em;
            box-sizing: border-box;
            border-radius: 15px;
            // font-size: 1.4rem;
          }

        // .add-btn{
        //     color: #53BF9D,
        // }

        // .remove-btn{
        //     color: #FFC54D;
        // }

        .error-msg{
            color: red;
        }
    }
  }