// .listingdt{
//     background-color: rgb(240, 240, 240);
//     padding: 5px;
// }

// .nav-dt{
//     border-left: rgb(233, 233, 233) solid 1px;
// }
// .photo{
    
//     border-bottom: rgb(234, 234, 234) solid 1px;
//     padding-bottom: 20px;
    
// }

// .listing-header{
//     margin-top: 30px;
// }
// .listing{
//     margin-top: 30px;
// }

.body{
    padding: 100px 70px 100px 70px;
    
}
.typepage{
    margin-left: 30px;
}
.hostavatar{
    
}

img[alt="birce3"]{
    // margin-top: -35px;
    // margin-left: 150px;
    width:70px;
    height:70px;
    border-radius:50%
  }
.formbooking{
    background-color: rgb(239, 239, 239);
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
}

.r_bttnsm{
    padding:0 10px;
}
.row_2{
    margin-top: 40px;

}

.roomcount{
    border-bottom: 1px rgb(230, 230, 230) solid  ;
}

.image_sub{
    margin-left: -15px !important;
}
.image_core{
 
}

.desproperty{
    margin-top: 20px;
}