.edit-room-page-main {
    height: 100vh;
    // width: 100vw;
    background-color: #F6FBF9;
    display: flex;
    flex-direction: row;

    .edr-left {
        display: flex;
        position: relative;
        flex: 3;
        background-image: url("../EditRoomPage/_edit_room_page_bg.png");
        
        background-repeat: no-repeat;
        background-position: left;
        background-attachment: fixed;
        // background-size: 44%;
        height: 100%;
    }

    .edr-right {
        background-color: #FFFF;
        min-width: 400px;
        min-height: 480px;
        width: 34%;
        height: 62%;
        display: flex;
        position: relative;
        flex: 2;
        margin-top: 7%;
        margin-right: 10%;
        // text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 16px;

        .edr-header {
            margin-top: 0.27em;
            margin-bottom: 0.1rem;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
            font-family: 'open sans', sans-serif;
            padding: 1rem 0;
            font-weight: bold;
            font-size: 3.5rem;
        }

        .edr-right-empty-box {
            content: "";
            margin: 0.2em;
            display: block;
            font-size: 30%;
        }

        .edr-right-input-column {
            min-height: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            input {
                background: #FFFFFF;
                border: 1.53407px solid rgba(0, 0, 0, 0.1);
                border-radius: 12px;
                height: 2rem;
                width: 260px;
            }

            select {
                background: #FFFFFF;
                border: 1.53407px solid rgba(0, 0, 0, 0.1);
                border-radius: 12px;
                // width: 192px;
                height: 2rem;
                width: 130px;
                justify-content: space-between;
                margin-left: 2rem;
            }

            label {
                color: #696969;
            }
        }

        .input-room-type select {
            background: #FFFFFF;
            border: 1.53407px solid rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            width: 175px;
            height: 2rem;
            // width: 130px;
            justify-content: space-between;
            margin-left: 0.5rem;
        }

        .btn-row {
            max-width: 24vw;
            min-width: 18vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            size: 60%;
            // margin-right: 7rem;

            text {
                font-size: 80%;
            }

            .css-i4bv87-MuiSvgIcon-root {
                font-size: 0.8rem;
            }

            .next-btn {
                border: none;
                border-radius: 10px;
                background-color: #F94C66;
                color: white;
                padding: 10px 26px;
                margin-top: 0.2em;
                margin-bottom: 0.6em;
                margin-left: 10rem;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
            }
        }


    }
}