.header_host{
  margin-top: 100px;
}

// td{
//   height: 100px;
// }

// .table_element{
//   padding-top: 50px;
// }

.name{
  margin-left:10px;
}

.btn_status{
  background-color: green;
  width: 10px;
  height: 10px;
}

.host__navbar{
  border-bottom: 1px solid #e4e4e4;
}
.search_host{
  border-radius: 100px;
  border: 1px solid #e4e4e4 !important;
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset !important;
  input{
    border: unset;
   border-radius: 100px;
   background-color: unset;
   &:focus{
    box-shadow: none;
   }
  }
 i{
  font-size: 24px;

 }
}
