.header_host{
  margin-top: 100px;
}

// td{
//   height: 100px;
// }

// .table_element{
//   padding-top: 50px;
// }

.name{
  margin-left:10px;
}

.btn_status{
  background-color: green;
  width: 10px;
  height: 10px;
}

